<div class="card">
    <div class="card-header">
        <div class="d-flex">
            <h5>Agregar tienda</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <div class="mb-3">
                    <label class="form-label">Nombre: </label>
                    <input [(ngModel)]="tienda.nombre" type="text" class="form-control">
                </div>
            </div>
            <div class="col-4">
                <div class="mb-3">
                    <label class="form-label">Sucursal: </label>
                    <input [(ngModel)]="tienda.sucursal" type="text" class="form-control">
                </div>
            </div>
            <div class="col-4">
                <div class="mb-3">
                    <label class="form-label">Direccion: </label>
                    <input [(ngModel)]="tienda.direccion" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary" (click)="registrar()">Agregar</button>
            </div>
        </div>
    </div>

</div>