<div class="card">
    <div class="card-header">
        <div class="d-flex">
            <h5 class="mb-0">Lista de clientes</h5>
        </div>
    </div>
    <div class="card-body">
        <app-cargando *ngIf="cargando"></app-cargando>
        <app-sin-datos *ngIf="!cargando && !error &&clientes.length==0"></app-sin-datos>
        <app-error [descripcion]="msgError" *ngIf="!cargando&&error"></app-error>

        <table *ngIf="!cargando&&!error&&clientes.length>0" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Usuario</th>
                <th scope="col">Activo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of clientes;">
                <th>{{c.id_cliente}}</th>
                <td>{{c.nombre}}</td>
                <td>{{c.apellidos}}</td>
                <td>{{c.usuario}}</td>
                <td><i [ngClass]="c.activo==1? 'circleGreen':'circleRed'" class="fa-solid fa-circle"></i></td>
              </tr>
            </tbody>
          </table>

    </div>
</div>
